/**********************

    Este arquivo CSS é destinado à estilização do menu inicial do OpenReport
    Cor base Adobe Color: #1A7F86
    Cor hover Adobe Color: #011516 #104F53 - melhor
    Cor amarelo post-it: #FEFFE4
    Cor background cinza AdobeXD: #E4E4E4

 **********************/

@font-face {
    /*font-family: Droid Serif;*/
    src: url("fonts/DroidSerif-Regular.ttf");

    /*font-family: Work Sans;*/
    src: url("WorkSans-Regular.ttf");
}

.body {
    -fx-font-family: "Work Sans";
}

.button-bar {
    -fx-background-color: #1A7F86;
    -fx-padding: 20;
}

.button1 {
    -fx-text-fill: #E4E4E4;
    -fx-arc-width: 0;
    -fx-border-radius: 0;
    -fx-padding: 10;
    -fx-margin: 4;
    -fx-background-color: #104F53;
}

.button1:hover {
    -fx-background-color: #4C959A;
    -fx-text-fill: #FEFEFE;
    -fx-animated: true;
}